/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0px;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

h1,
h2,
h3 {
	font-family: "Poppins", sans-serif;
}

.curve {
	background: url("./images/bg-section-bottom-mobile-1.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}
